/* Layout */
html, body, #home {
    margin-top: 4em;
}

body {
    background-color: rgba(13, 10, 10, 0.811);
    color: white;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif
}

/* Active nav item */
.navbar-light .navbar-nav .nav-link.actived {
    background: #9828CD;
    color: #9bf0e1;
    border-radius: 20px;
}

/* conteudo */
h3 {
    color: white;
}

li span {
    color: black;
}

.bg-custom {
    background: #9828CD;
    padding: 0.4em;
    border-radius: 1em;
}

.warning {
    padding: 0;
}

/* Barra de navegação */
nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

/* setup estrutura */
.background-custom h5 {
    color: white;
}